<nav>
 <ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="/declaration" >Declaration</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/recherche"  >Recherche</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/statistiques" >Statistique</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/parametrage"  >Paramétrage</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/profil"  >Profil </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/aide"  >Aide</a>
  </li>
</ul> 
</nav>

